.container-tela-cadastro{

    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    display: flex;
    background-color: #fcf6e8;
}

.livro-cadastro-container{

    height: 90%;
    width: 80%;
    background-color: #f4e2b4;
    border-radius: 10px;
    display: flex;
}

.livro-cadastro-primeiraLayer{

    height: 100%;
    width: 98%;
    background-color: rgb(182, 74, 31);
    display: flex;
    margin-left: 1%;
    border-radius: 27px;

}

.livro-cadastro-segundaLayer{

    height: 100%;
    width: 95%;
    background-color: rgb(182, 74, 31);
    display: flex;
    margin-left: 2.5%;
    border-radius: 27px;

}

.livro-cadastro-terceiraLayer{

    height: 100%;
    width: 99%;
    background-color: #df9274;
    display: flex;
    margin-left: 0.5%;
    border-radius: 27px;

}

.livro-cadastro-ConteudoLayer{

    height: 100%;
    width: 96%;
    background-color: #df9274;
    display: flex;
    margin-left: 2%;
    border-radius: 27px;

}

.livro-cadastro-conteudoLayerEsquerda{


    margin-top: 0.6%;
    height: 98%;
    width: 48%;
    background-color: rgb(255, 246, 229);
    display: flex;
    margin-right: 2%;
    border-radius: 27px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.livro-cadastro-conteudoLayerDireita{



    margin-top: 0.6%;
    height: 98%;
    width: 48%;
    background-color: rgb(255, 244, 230);
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    border-radius: 27px;

}


.botao-cadastro{

    height: 70px;
    width: 400px;
    
    height: 70px;
    width: 400px;
    
    color: var(--corfundo);
    font-size: 28px;
    font-family: "fonte-projeto";
    font-weight: bold;
    background-color: var(--laranjaenferrujado);
    border-radius: 20px;
    width: 380px;
    margin-bottom: 3%;
    margin-right: 9%;




}


.label-inputs{


    color: #40454b;
    font-size: 28px;
    font-family: "fonte-projeto";
   
    display: flex;
    font-weight: bold;
    margin-right: 295px;
}

.inputs-cadastro{

    color: #c85b34;
    font-size: 28px;
    font-weight: bold;
    border-radius: 11px;
    text-align: center;
    font-family: "fonte-projeto";
    height: 40px;
    width: 380px;
    border-style: solid;
    border-color: #c85b34;
    border-width: 2px;
}

.label-possuir-conta{


    
    color: #40454b;
    font-size: 23px;
    font-family: "fonte-projeto";
    font-weight: bold;
    margin-right: 1%;
}