.tela-escrivaninha-container{

    display: flex;

    height: 100vh;
    justify-content: center;
    align-items: center;

}

.escrivaninha-mesa{

    display: flex;

    height: 100%;
    width: 100%;
    
    background-color: var(--fundoDivs);
    background-image: url(./images/3 Sem Título_20241101231159.png);
    
        border-radius: 3px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 20px;
        border-style: solid;
        border-color: #8c5d47;
}

.escrivaninha-documento{

    display: flex;
    position: relative;
    height: 100%;
    width: 41%;
    justify-content: center;
    align-items: center;
}

.documento-folha{
    
    margin-left: 3%;
    height: 90%;
    width: 95%;
    background-color: var(--corfundo);
    border-radius: 2px;
    border-style: solid;
    border-width: 5px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-color: rgb(201, 176, 151);
    box-shadow: 0px 5px 15px rgb(150, 101, 67);

}

.folha-topo{
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: center;
}

.folha-topo-btn{
    height: 70%;
    width: 10%;
    margin-right: 5%;
    cursor: pointer;
    border: none;
}


.img-lixo-escrivaninha{
    height: 90%;
}

.inpt-tituloResenha{

    display: flex;
    
    margin-right: 14%;
    margin-top: 2%;
    font-size: 40px;
    font-family: "fonte-projeto";
    font-weight: 900;
    text-align: center;
    border: none;
    background: none;

}
.inpt-tituloResenha:focus{

    outline-width: 0px;
}



.folha-conteudo{
    height: 85%;
    
}

.inpt-resenha{

    
    resize: none;
    font-weight: 400;
    font-size: 28px;
    font-family: "fonte-projeto";
    padding: 20px;
    text-align: start;
    font-weight: 500;
    height: 100%;
    width: 100%;
    border: none;

}

.inpt-resenha:focus{

    outline-width: 0px;
}






.folha-desfecho{
    
    display: flex;
    height: 5%;
    justify-content: center;
    align-items: center;
}

.lbl-desfecho{
    
    font-family: "fonte-projeto";
    font-size: 26px;
    margin-bottom: 2%;
    color: rgb(107, 78, 58);
    font-style: italic;
}






.escrivaninha-container-generoIsbn{

    display: flex;

    
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 60%;


}



.container-generoIsnb{

    height: 95%;
    width: 90%;
    border-radius: 5px;
    
    
}


.generoIsbn-espacoEsquerda{
    height: 100%;
    width: 3%;
}

.generoIsbn-linha{
    
    height: 90%;
    width: 0.4%;
    background-color: #352c21;
    border-radius: 4px;
}

.generoIsbn-topo{
    
    margin-top: 7%;
    height: 10%;
    width: 100%;
    border-radius: 3px;
    
    background-color: rgb(244, 216, 181);


}

.generoIsbn-conteudo{
    margin-left: 2.5%;
    height: 65%;
    width: 95%;
    
    
    background-color: var(--corfundo);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    
    box-shadow: 0px 5px 15px rgb(150, 101, 67);
    
}

.conteudo-titulos{
    display: flex;
    flex-direction:row;
    height: 15%;
    justify-content: space-around;
    align-items: center;
}

.lbl-generoIsbn-titulos{
 
    margin-top: 3%;
    font-family: "fonte-projeto";
    font-size: 33px;
    margin-right: 4%;
    color: var(--laranjaenferrujado);

}

.conteudo-janela{
    display: flex;
    height: 80%;
    width: 100%;
}


.conteudo-escolhaGenero{
    height: 100%;
    width: 50%;
    display: flex;
}

.escolhaGenero-colunaEsquerda{

    display: flex;
    justify-content: start;
    align-items: start;
    height: 100%;
    width: 50%;
    
}


.colunaEsquerda-generos{
    height: 100%;
    width: 80%;
}

.lbl-escolhaGenero{
    
    margin-left: 12%;
    display: flex;
    font-family: "fonte-projeto";
    font-size: 30px;
    font-weight: bolder;
    margin-top: 10%;
    height: 9%;
    
    color: rgb(107, 78, 58);

}
    

.colunaEsquerda-Checkbox{
    height: 100%;
    width: 15%;
    margin-top: 7%;
}



.escolhaGenero-checkbox{

    
    margin-top: 62%;
    accent-color: rgb(184, 137, 115);
    border-radius: 5px;
    zoom: 1.6;

    cursor: pointer;

}




.escolhaGenero-colunaDireita{

    display: flex;
    justify-content: start;
    align-items: start;
    height: 100%;
    width: 50%;
}

.colunaDireita-generos{
    
    height: 100%;
    width: 80%;
}

.colunaDireita-checkbox{
    
    height: 100%;
    width: 15%;
    margin-top: 7%;

}

.conteudo-informacoesIsbn{
    height: 100%;
    width: 50%;
}

.informacoesIsbn-topo{
    display: flex;
    height: 15%;
    width: 100%;
}

.inpt-codigoIsbn{

    

    text-align: center;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 3%;
    height: 55%;
    width: 80%;
    font-weight: 400;
    font-size: 22px;
    font-family: "fonte-projeto";
    font-weight: 500;
    border-radius: 35px;
    border-style: solid;

}


.inpt-codigoIsbn:focus{

    outline-width: 0px;

}

.btnPesquisa-insformacoesIsbn-topo{

    margin-top: 1%;
    height: 55%;
    width: 10%;
    border: none;
    margin-right: 3%;

}

.informacoesIsbn-topo-lupaImg{
    width: 100%;
}


.informacoesIsbn-meio{
    display: flex;
    height: 60%;
    width: 100%;
}

.informacoesIsbn-meio-parteCapa{
    height: 100%;
    width: 50%;
}


.parteCapa-divCapa{

    margin-left: 6%;
    margin-top: 5%;
    height: 80%;
    width: 90%;
    background: linear-gradient(rgb(243, 222, 199), rgb(118, 73, 73));
    border-radius: 1px;
}

.informacoesIsbn-meio-bio{
    height: 100%;
    width: 80%;
}

    
.meio-titulo{

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 7%;
    font-weight: 400;
    font-size: 30px;
    font-family: "fonte-projeto";
    font-weight: 600;
    font-style: italic;
    color: var(--laranjaenferrujado
    );

}

.meio-sinopse{

   
    height: 80%;
    width: 100%;

}

.sinopse-textArea{
    
    font-size: 19px;
    font-family: "fonte-projeto";
    font-style: italic;
    height: 100%;
    width: 100%;
    resize: none;
    border: none;

}


.sinopse-textArea:focus{

    outline-width: 0px;
}

.informacoesIsbn-lbl{
    
    font-weight: bolder;
    font-size: 25px;
    font-family: "fonte-projeto";
    font-weight: 500;
}


.informacoesIsbn-credito{
    height: 9%;
    width: 100%;
    
     
    margin-left: 5%;
    font-weight: bold;
    font-size: 20px;
    font-family: "fonte-projeto";
    font-weight: 500;
}


.informacoesIsbn-desfecho{
    height: 7%;
    width: 100%;
    
    margin-left: 33%;
    font-weight: bold;
    font-size: 20px;
    font-family: "fonte-projeto";
    font-weight: 500;
}


.generoIsbn-desfecho{
    display: flex;
    height: 13%;
    width: 105%;
    
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

}

.desfecho-lbl{

    height: 7%;
    width: 20%;
    font-weight: bold;
    font-size: 30px;
    font-family: "fonte-projeto";
    font-weight: 500;
    color: var(--navbar);
}

.generoIsbn-desfecho-btn{

    margin-left: 2%;
    margin-top: 5%;
    height: 48%;
    width: 6%;
    background-color: var(--laranjaenferrujado);
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 30px;
    font-family: "fonte-projeto";
    cursor: pointer;
    box-shadow: 0px 2px 15px rgb(150, 101, 67);


}

.estrelas-div{

    display: flex;
    flex-direction: row;
}

.btn-desfecho-img{

    height: 99%;
    width: 100%;
}
.btn-escrivaninha{

    margin-left: 7%;
    margin-top: 8%;
    height: 48%;
    width: 26%;
    background-color: var(--laranjaenferrujado);
    border: none;
    text-align: center;
    font-size: 30px;
    font-family: "fonte-projeto";
    rotate: 10deg;
    cursor: pointer;

    color: var(--navbar);
    
    box-shadow: 0px 2px 15px rgb(150, 101, 67);
}

.escrivaninha-navbarVertical{

    display: flex;
    height: 100%;
    width: 6%;
    flex-direction: column;
  
}


.navbarVertical-btn{

    cursor: pointer;
    margin-top: 10%;
    
    margin-bottom: 20%;
    height: 10%;
    border: none;
}

.navbarVertical-btn:active{

    background-color: rgb(241, 225, 207);
    border-radius: 30px;

}

.navbarVertical-img{
    height: 100%;
}