.tela-escrivaninha-container{

    display: flex;

    height: 100vh;
    justify-content: center;
    align-items: center;

}

.escrivaninha-mesa{

    display: flex;

    height: 100%;
    width: 100%;
    
    background-color: var(--fundoDivs);
    background-image: url(./images/3 Sem Título_20241101231159.png);
    
        border-radius: 3px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 20px;
        border-style: solid;
        border-color: #8c5d47;
}

.escrivaninha-documento{

    display: flex;
    position: relative;
    height: 100%;
    width: 41%;
    justify-content: center;
    align-items: center;
}

.documento-folha{
    
    margin-left: 3%;
    height: 90%;
    width: 95%;
    background-color: var(--corfundo);
    border-radius: 2px;
    border-style: solid;
    border-width: 5px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-color: rgb(201, 176, 151);
    box-shadow: 0px 5px 15px rgb(150, 101, 67);

}

.folha-topo{
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: center;
}

.folha-topo-btn{
    margin-top: 2.5%;
    height: 70%;
    width: 10%;
    margin-right: 5%;
    cursor: pointer;
    border: none;
}


.img-lixo-escrivaninha{
    height: 90%;
}

.inpt-tituloResenha{

    display: flex;
    
    margin-right: 14%;
    margin-top: 2%;
    font-size: 40px;
    font-family: "fonte-projeto";
    font-weight: 900;
    text-align: center;
    border: none;
    background: none;

}
.inpt-tituloResenha:focus{

    outline-width: 0px;
}



.folha-conteudo{
    height: 85%;
    
}

.inpt-resenha{

    
    resize: none;
    font-weight: 400;
    font-size: 28px;
    font-family: "fonte-projeto";
    padding: 20px;
    text-align: start;
    font-weight: 500;
    height: 100%;
    width: 100%;
    border: none;

}

.inpt-resenha:focus{

    outline-width: 0px;
}






.folha-desfecho{
    
    display: flex;
    height: 5%;
    justify-content: center;
    align-items: center;
}



.lbl-desfecho{
    
    font-family: "fonte-projeto";
    font-size: 26px;
    margin-bottom: 2%;
    color: rgb(107, 78, 58);
    font-style: italic;
}



.escrivaninha-container-generoIsbn{

    display: flex;

    
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 60%;


}



.container-generoIsnb{

    height: 95%;
    width: 90%;
    border-radius: 5px;
    
    
}



.generoIsbn-topo{
    
    margin-top: 7%;
    height: 10%;
    width: 100%;
    border-radius: 3px;
    
    background-color: rgb(244, 216, 181);


}

.container-informacoesLivro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.5%;
    height: 65%;
    width: 95%;
    
    
    background-color: var(--corfundo);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    
    box-shadow: 0px 5px 15px rgb(150, 101, 67);
    
}
.informacoesLivro-esquerda{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 28%;
    font-family: "fonte-projeto";
    margin-top: 10%;
    margin-left: 3%;
    font-size: 25px;
}

.informacoesLivro-esquerda-capa{
    background: linear-gradient(rgb(194, 144, 116), rgb(116, 74, 54));
    height: 65%;
    width: 95%;
}
.meio-sinopse{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 5%;
}


.informacoesLivro-direita{
    display: flex;
    height: 90%;
    width: 68%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: "fonte-projeto";
    font-size: 30px;
}

.informacoesLivro-direita-tituloSinopse{
    width: 55%;
    height: 100%;
}


.informacoesLivro-direita-generos{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
}


.lbl-generos{
    font-size: 34px;
    color: var(--laranjaenferrujado);
}

.btn-generos{

    margin-left: 15%;
    margin-top: 10%;
    height: 16%;
    width: 70%;
    background-color: var(--laranjaenferrujado);
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 28px;
    font-family: "fonte-projeto";

    color: var(--navbar);
    
    box-shadow: 0px 2px 15px rgb(150, 101, 67);
}

.sinopse-textArea{
    
    font-size: 24px;
    font-family: "fonte-projeto";
    font-style: italic;
    height: 100%;
    width: 100%;
    resize: none;
    border: none;

}


.sinopse-textArea:focus{

    outline-width: 0px;
}



.generoIsbn-desfecho{
    display: flex;
    height: 13%;
    width: 105%;
    
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

}

.desfecho-lbl{

    height: 7%;
    width: 20%;
    font-size: 33px;
    font-family: "fonte-projeto";
    font-weight: 500;
    color: var(--navbar);
    margin-bottom: 3.5%;
}

.generoIsbn-desfecho-btn{

    margin-left: 2%;
    margin-top: 5%;
    height: 48%;
    width: 6%;
    background-color: var(--laranjaenferrujado);
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 30px;
    font-family: "fonte-projeto";
    cursor: pointer;
    box-shadow: 0px 2px 15px rgb(150, 101, 67);


}

.estrelas-div{

    width: 30%;
    display: flex;
    flex-direction: row;
}

.btn-desfecho-img{

    height: 99%;
    width: 100%;
}

.btn-escrivaninha{

    margin-left: 7%;
    margin-top: 8%;
    height: 60%;
    width: 26%;
    background-color: var(--laranjaenferrujado);
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 36px;
    font-family: "fonte-projeto";
    rotate: 10deg;
    cursor: pointer;

    color: var(--navbar);
    
    box-shadow: 0px 2px 15px rgb(150, 101, 67);
}

.escrivaninha-navbarVertical{

    display: flex;
    height: 100%;
    width: 6%;
    flex-direction: column;
  
}


