.container-tela-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    display: flex;
    background-color: rgb(255, 253, 250);
}

.livro-cadastro-container{

    height: 90%;
    width: 80%;
    background-color: rgb(123, 51, 31);
    display: flex;
}

.livro-cadastro-primeiraLayer{

    height: 100%;
    width: 95%;
    background-color: rgb(182, 74, 31);
    display: flex;
    margin-left: 2.5%;
    border-radius: 27px;

}

.livro-cadastro-segundaLayer{

    height: 100%;
    width: 95%;
    background-color: rgb(182, 74, 31);
    display: flex;
    margin-left: 2.5%;
    border-radius: 27px;

}