.container-mae-resenhas{
    display: flex;
    background-color: whitesmoke;
}

.container-resenhas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #c89b7a;
    min-height: 90vh;
    width: 180vh;
}
    .container-resenha-usuarios{
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        padding: 35px;
        height: fit-content;
        width: 93%;
        background-color: #ffeddf;
        border-radius: 15px;
        margin-bottom: 2%;
    }
        .box-resenha{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: fit-content;
            background-color: #fff;
            margin: 2% 5% 4% 5%;
            border-radius: 10px;
        }
            .parte-foto-nome{
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 15px;
                padding: 25px;
                height: 50px;
                width: 100%;
                background-color: #fff;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
                .foto-perfil{
                    margin-bottom: 30px;
                    height: 60px;
                    width: 80px;
                    background-color: #c85b34;
                    border-radius: 50%;
                    margin-bottom: 40px;
                }

            .parte-resenha{
                display: flex;
                justify-content: start;
                align-items: start;
                flex-direction: column;
                padding: 25px;
                height: fit-content;
                width: fit-content;
                block-size: fit-content;
                background-color: #fff;
            }
                .texto-resenha{
                    font-size: 15px;
                    font-family: monospace;
                    font-style: oblique;
                }

            .parte-curtida{
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 15px;
                padding-right: 15px;
                height: 30px;
                width: 100%;
                background-color: #fff;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
                .botao-curtida{
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                }
                .icone-curtida{
                    height: 20px;
                    width: 20px;
                }
                .label-curtidas{
                    font-size: 15px;
                    font-weight: bold;
                    font-family: monospace;
                    font-style: italic;
                }