*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  
}

:root{
    

  --corfundo: #fcf6e8;
  --fundoelementos: #f4e2b4;
  --laranjaenferrujado: #c85b34;
  --navbar: #fdfaf3;
  --textos: #40454b;
}

@font-face {
  font-family:"fonte-projeto";
  src: url(C:\Users\mrbus\Downloads\Repositorios\SA-segundafase\public\ud_thin\Ud Thin.otf);
}